:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*size*/
  --size-btn: 60px; 
  --size-font: 18px;
  --base-spae: 8px;
  --size-border: 4px;
  --size-thumbnail: 50px;

  /*annimation*/
  --annimation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
  margin-right: var(--base-spae); 
}

.imgBtn {
  width: var(--size-btn);
  height: var(--size-btn);
}

.colorBtn {
  font-size: var(--size-font);
  padding: calc(var(--base-spae)*2);
  border-radius: var(--size-border);
}

.blue {
  background: var(--color-blue)
}

.yellow {
  background: var(--color-yellow)
}

.pink {
  background: var(--color-pink)
}

.items {
  height: 60%;
  width: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-spae);
  margin-bottom: var(--base-spae);
}

.item_thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item_description {
  margin-left: var(--base-spae);
  font-size: var(--size-font);
}